{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
  <h1 class="f1 athelas mt3 mb1">{{ i18n "posts_from" }} {{ .Title }}</h1>
  <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
    {{ range .Pages }}
      <div class="mb3">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <time class="f6 mv4 dib tracked">{{ .Date.Format "January 2, 2006" }}</time>
        {{ if .Summary }}
          <p>{{ .Summary }}</p>
        {{ end }}
      </div>
    {{ end }}
  </div>
</article>
{{ end }}
